<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>CAMT</h2>
      <ul>
        <li><a href="/" class="active">Home/Dashboard</a></li>
        <li><a href="/application">Applications</a></li>
        <li><a href="/service">Service Ids</a></li>
        <li><a href="/">Reports</a></li>
        <li><a href="/">Settings</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>  
    <!-- Main Content -->
    <div class="content">
      <h2 class="dashboard">Welcome to CFARRI Application Monitoring Tool</h2>        
      </div>

        </body>
        </html>